# Python bytecode
__pycache__/
*.py[cod]
*.pyc

# Others
.pytest_cache/
.ruff_cache/
.coverage
.vscode/
.idea/

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Build and packaging outputs
dist/
build/
dist/*.zip

# Virtual environment
.venv/
.env/

# Generated PyInstaller spec
BookVault.spec